<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
  <link rel="manifest" href="manifest.json" />
  <script type="text/javascript" src="cordova.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script type="text/javascript">
    window.addEventListener("load", () => {
      if ("cordova" in window) {
      } else {
        console.log('ddddddd');
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("./service-worker.js", { scope: "./" })
            .then(function (reg) {
            });
        }
      }
    });
  </script>
  <meta name="color-scheme" content="light dark">

  <link rel="stylesheet" href="css/index.css">

  <title>Hello World</title>
</head>

<body>


  <div class="app" id="app">
    <div id="accueil" v-if="current=='home'">
      <div v-on:click="setCurrent('add')">
        ajout d'une liste
      </div>
      <div>
        <div v-for="top in _.keys(tops)" :key="top.name" v-on:click="setCurrent('detail',top,true)" class="list-item">
          {{top}}
        </div>
      </div>
    </div>
    <div id="crée" v-if="current=='add'">
      <div v-on:click="setCurrent('home')">Retour a l'accueil</div>
      <form action="">
        <div v-if="isSavedTopName==false" class="container-topname-creation">
          <label for="topName">nom de la liste</label>
          <input type="text" v-model="topName" name="topName" id="topName" />
          <div class="btn" @click="validateTopName">
            valider
          </div>
        </div>
        <div class="container-topname-creation" v-if="isSavedTopName==true">
          <h3>Ajout d'un element</h3>
          <label for="itemName">nom de lelement</label>
          <input type="text" v-model="item.name" name="itemName" id="itemName" />
          <div class="container-topname-creation">
            <label for="position">position</label>
            <input type="number" v-model="item.position" name="position" id="position" />
            <div class="btn" @click="addItem" class="btn">ajouter</div>
          </div>
        </div>

      </form>
      <div id="listElement" v-if="isSavedTopName==true" v-for="item in tops[topName]" :key="item.name">
        <h3>
          <span>{{item.position}}</span>
          <span>{{item.name }}</span>
        </h3>
      </div>
    </div>
    <div id="details" v-if="current=='detail'">
      <div v-on:click="setCurrent('home')">Retour a l'accueil</div>
      <h2> {{topName}}</h2>
      <div id="listElement">
        <h3 v-for="item in tops[topName]" :key="item.name">
          <span>{{item.position}}</span>
          <span>{{item.name }}</span>
        </h3>
      </div>
    </div>
  </div>
  </div>


  <script src="js/index.js"></script>
</body>


</html>